<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FilmFolio</title>
    <link rel="stylesheet" href="../../public/css/jass.css">
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="../../Assets/homepage.css">
</head>
<body>
    <header>
        <h1>FilmFolio</h1>
        <!-- Navigation links can be added here -->
    </header>

    <main>
        {{{body}}}
    </main>

    <footer>
        <p>&copy; 2024 FILMFOLIO</p>
    </footer>

    <!-- Additional scripts can be included here -->
    <script src="../../public/js/login.js" defer></script>
    <script src="../../public/js/logout.js" defer></script>
</body>
</html>