
    <script id="home-template" type="text/x-handlebars-template">
    

        <nav>
            {{#each navLinks}}
            <a href="{{ link }}">{{ label }}</a>
            {{/each}}
        </nav>

        <div class="container">
            <div class="genre-buttons">
                {{#each genreButtons}}
                <a class="genre-button" href="{{ link }}">{{ name }}</a>
                {{/each}}
            </div>
        </div>
    </script>

    <script src="/public/js/homepage.js"></script>

    