
   <!--Login Page-->
   <form id="loginForm">
    <h2>Login</h2>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" autocomplete="username" required>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" autocomplete="current-password" required>

    <button type="button" onclick="validateLogin()">Login</button>

    <script src="login.js" defer></script>
   </form>